@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body{
    background-color: #1E1919;
    overflow-x: hidden;
}
.nav-bar{
    width: 100vw ;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:  20px;
}
.nav-bar ul{
    display: flex;
    font-weight: bold   ;
    align-items: center;
    margin-left:30px ;
    gap: 20px;
    text-decoration: none;
    list-style: none;
}
.nav-bar select{
    border : none;
    font-weight: bold;
}
#Products{
    font-size: medium;
}
.logo {
    display: flex;
    font-size:large;
    align-items: center;
}
.logo   img {
    width: 30px;
    height: 30px;
    margin: 5px;
}
.forms i img{
    width: 20px;
    height: 20px;
}
#btn-primary{
    background-color: #0057E0;
    width: 100px;
    height: 40px;
    color: white;
    border: none;
    border-radius: 30px;
}
#btn-primary:hover{
    cursor: pointer;
    transform: translateY(-5px);
    transition : 0.4s ease;
}
.main , .beta{
    margin-top: 3rem;
    width: 100vw;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px;
}
.contenedor-1 {
    margin: 3rem;
    display: flex;
    flex-direction: column;
    width: 50rem;
    gap: 30px;
    text-align: center;
}
.contenedor-1 h1{
    font-weight:normal;
    color: white;
    font-size: 50px;
}
.contenedor-1 p {
    color: grey;
}
#btn-plan{
    width: 200px;
    height: 50px;
    gap: 15px;
    border: none;
    border-radius: 10px;
    background-color: #3984FF;
    text-decoration: underline;
    color: black;
    align-self: center;
}
.address input{
    width: 12rem;
    padding: 0.5rem;
    background-color: transparent;
    border: 0.5px solid grey;
}
.address button{
    margin: 5px;
    width: 8rem;
    height: 2.2rem;
    border-radius: 10px;
    border: 2px solid lightgrey;
    background-color: transparent;
    color: white;
}
.features{
    margin-top: 2rem;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.features h2{
    color: #F7F5F2;
    font-weight: normal;
    font-size: 40px;
}
.contenedor-2{
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.target{
    margin: 3rem;
    width: 15rem;
    height: 7rem;
}
#title  {
    font-size: 20px;
    font-weight: 500;
    color: #F7F5F2;
}
#subtitle{
    font-size: 15px;
    color: #F7F5F2;
}
.beta{
    margin-top: 5rem;
}
.contenedor-1 h2{
    font-weight:normal;
    color: white;
    font-size: 40px;
}
.aler{
    align-self: center;
    width: 10rem;
    padding: 5px;
    background-color: #deebfe;
    border-radius: 5rem;
}
.aler span{
    color: #0057E0;
    font-weight: bold;
}
.break{
    display: flex;
    justify-content: center;   
}
.usages{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.usages h2{
    color: white;
    font-size: xx-large;
    margin: 1rem;
    margin-bottom: 4rem;
    font-weight: normal;
}
.tarjetas{
    display: flex;
}
.tar-individual , .tar-individual-2{ 
    position: relative;
    margin: 15px;
    display: flex;
    flex-direction: column;
    padding:15px;
    gap: 30px;
    width: 30rem;
    background-color: #2b292a;
    object-position:center ;
}
.Status{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-3{
    display: flex;
    flex-direction: row;
}
.row  .row2 .row3{
    width: 1rem;
}
#row-title{
    color: #F7F5F2;
    font-weight: normal;
    font-size: xx-large;
}
#span-row{
    font-weight: bold;
    color: #F7F5F2;
}
.container-3 p {
    color: #F7F5F2;
}